{% extends 'base.html' %}
{% block title %}Custom Quiz Setup - Smart Study Quiz App{% endblock %}
{% block heading %}Custom Quiz Setup{% endblock %}
{% block content %}
<h2>Custom Quiz Setup</h2>
<form method="POST" action="{{ url_for('createQuiz') }}">
    <h2>Create New Quiz</h2>
        <p>Name of Quiz</p>
            <input type="text" name="title" placeholder="Quiz Name" required>
        <p>Description</p>
            <textarea class="large-input" name="description" placeholder="Quiz Description" required></textarea>
        <p>Amount of Questions</p>
            <input type="number" name="numQuestions" placeholder="Amount of Questions" required>
        <button type="submit">Next</button>
</form>
{% endblock %}