{% extends 'base.html' %}
{% block content %}
<h1>Register Here!</h1>
<h3>Enter Your Details to Create an Account</h3>
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        <p>Username {{ form.username() }}</p>
        <p>Display Name {{ form.displayName() }}</p>
        <p>Email {{ form.email() }}
        <p>Password {{ form.password()}}</p>
        <p>Confirm Password {{ form.confirmPassword() }}
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}
