{% extends 'base.html' %}   
{% block title %}View Progress - Smart Study Quiz App{% endblock %}
{% block heading %}Progress Check!!!!{% endblock %}
{% block content %}
<div class="heading">
    <p>View your Progress</p>
</div>
    {% if posts %}
        <table>
                <tr>
                    <th>DATE</th>
                    <th>TITLE</th>
                    <th>DETAILS</th>
                </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.date }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.details }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <div class="no-progress">
        <p>No progress logs found.</p>
    </div>
    {% endif %}
{% endblock %}