{% extends 'base.html' %}

<div class="loader-overlay" id="loaderOverlay">
  <div class="spinner"></div>
</div>

{% block content %}
<h1>View your Progress</h1>
    {% if posts %}
        {% for post in posts %}
            <textbubbles>
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.date }}</p>
                    <p class="progress-details">{{ post.details }}</p>
                </div>
                <div class="progress-image">
                    {% if post.image_path %}
                        <img src="{{ url_for('static', filename=post.image_path) }}" 
                            alt="Progress Image" 
                            class="progress-log-image">
                    {% else %}
                        <p class="no-image">No image</p>
                    {% endif %}
                </div>
            </textbubbles>
        {% endfor %}
    {% else %}
    <div class="no-progress">
        <p>No progress logs found.</p>
    </div>
    {% endif %}
{% endblock %}