body {
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #d0e7ffbd;
}

navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #0372e8;
    font-weight: bold;

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

navbar a:hover {
    text-decoration: underline;
        &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
}

content {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;

}

button:hover {
    background-color: #0056b3;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }

content {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

flash p.success {
    color: green;
    font-style: italic;
    font-size: 15px;
    margin: 20px 0;
}

flash p.error {
    color: red;
    font-style: italic;
    font-size: 15px;
    margin: 20px 0;
}