@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cal+Sans&family=Federo&family=Matangi:wght@300..900&family=Mitr:wght@200;300;400;500;600;700&family=Port+Lligat+Sans&family=Ysabeau+SC:wght@1..1000&display=swap');

body {
    color: black;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    background-color: #ee6c6c;
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-family: 'cal Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.heading p {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 10px;
    text-align: center;
    font-family: 'cal Sans', sans-serif;
}

nav, .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #ffb4b4bd;
    font-family: 'Ysabeau SC', sans-serif;
}

.logout-button a {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Ysabeau SC', sans-serif;
    color: white;
}

nav a, .navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-size: 20px;
}

nav a:hover, .navbar a:hover {
    text-decoration: none;
}

nav a::after, .navbar a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 60%;
    height: 3px;
    background-color: #910d0d;
    border-radius: 2px;
    opacity: 0;
    transition: transform 350ms cubic-bezier(0.19, 1, 0.22, 1), opacity 500ms ease;
}

nav a:hover::after, .navbar a:hover::after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
}

h1 {
    color: white;
    text-align: center;
    margin: 30px;
}

form {
    max-width: 400px;
    margin: 30px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(85, 85, 85, 0.814);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Ysabeau SC', sans-serif;
}

button {
    background-color: #ff9898;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px 20px;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;
    transition: background-color 300ms ease, box-shadow 300ms ease;
}

button:hover {
    background-color: #ff8d8d;
    box-shadow: 0 0 2px rgba(255, 73, 73, 0.7);
}


flash p.success {
    color: green;
    font-style: italic;
    font-size: 15px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Mitr', sans-serif;
}

flash p.error {
    color: red;
    font-style: italic;
    font-size: 15px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Mitr', sans-serif;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;

}

th {
    background-color:#e48080;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-left: 4px solid #ddd;
    border-right: 4px solid #ddd;
    border-top: #e49999 4px solid;
}

td {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border: 4px solid #ddd;
}

input {
    width: 100%;
    padding: 5px;
    margin: 4px 0 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Ysabeau SC', sans-serif;
}

input:focus {
    border-color: #ff7b7b;
    outline: none;
}

.large-input input {
    height: 100px;
    padding: 90px 10px;
}

a:hover {
    color: #c42020;
    --glow-color: #a03535;
}

.no-progress {
    cursor: not-allowed;
    opacity: 0.6;
    font-size: 15px;
    text-align: center;
}

img {
    width: 160px;
    display: block;
    margin: 20px auto;
}